@inject IBananaService BananaService

<button @onclick="IncreaseBananaCount" class="btn btn-info"><samp class="oi oi-plus"></samp></button>

@code {


    public void IncreaseBananaCount()
    {
        
    }

}
